.container{
	/* 定义flex容器 */
	display: flex;
	/* 设置容器内部元素的排列方向 
	* 	row row-reverse
	* */
	/* flex-direction: row; */
	/* flex-direction: row-reverse; */
	flex-direction: row;
	flex-wrap: nowrap;
	height: 600upx;
	background-color: #ccc;
}
.txt{
	font-size: 20px;
	width: 150upx;
	height: 150upx;
}
.green{
	background-color: green;
}
.red{
	background-color: red;
}
.blue{
	background-color: blue;
}
.orange{
	background-color: orange;
}
.pink{
	background-color: pink;
}
.yellow{
	background-color: yellow;
}